.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.quicksand-regular {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.quicksand-bold {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}  

body {
    background-color: #e6e7ff;
}

footer {
    background-color: #2f6690;
}

div.yunCardBadge {
    position: relative;
}

.yunCard, div.yunCardBadge, .yunCardBadge img {
    transition: transform .2s; /* Animation */
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}
.yunCard:hover, div.yunCardBadge:hover {
    transform: scale(1.3);
}

#mainYunPic {
    max-height: 60vh;
}

.mainDescTags p span {
    background-color: #ff858d;
}
.mainDescTags p span + a{
    color: #ff858d;
}

#mainCarousel, #mainCarousel * {
    max-height: 100vh;
}
.carouselImg {
    object-fit: cover;
}

#mainTitle {
    font-size: 13vw;
}